@charset "utf-8";
body {
	margin: 0px;
	text-align: center;
	font-size: 14px;
}
.canhgiua {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#table_full_page {
	/*dùng margin: 0px auto; để căn giữa cho table*/
	width: 100%;
	margin: 0px auto;
	border-collapse: collapse;/*Loại khung viền*/
}
#wrapper {
	margin: 0px;
	min-width: 960px !important;
}
#nav_top {
	background-image: url(../images/nav_top.png);
	height: 45px;
	background-repeat: repeat;
}
#banner_nhahang {
	background-image: url(../images/banner_nhahang.jpg);
	height: 191px;
	text-align: left;
}
#banner_monan {
	/*	background-image: url(../images/banner_mon_an.jpg);
	width: 1200px;
	height: 412px;
	background-repeat: no-repeat;*/	
	background-image: url(../images/banner_mon_an.jpg);
	background-size: cover;
	background-position: center center;
	height: 412px;
	background-repeat: no-repeat;
}
.rounded_corner {
	/*	box-shadow: 2px 2px 2px #888888;*/
	border-radius: 8px;
	border: 2px solid;
	width: 200px;
	height: 32px;
	background-color: #f5f4f5;
}
#btntimkiem {
	background-color: transparent;
	background-image: url(../images/icon_timkiem.png);
	height: 56px;
	width: 75px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.s960 {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#text_nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #cdcecc;
	text-align: left;
	width: 400px;
	float: left;
	padding-left: 30px;
	padding-top: 8px;
}
#text_nav a {
	text-decoration: none;
	color: #CCC;
}
#ten_nha_hang {
	padding-left: 30px;
	padding-top: 55px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	color: #F00;
	width: 930px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#menu_wrapper {
	background-image: url(../images/menu.png);
	height: 48px;
	width: 960px;
	background-repeat: no-repeat;
	background-position: 5px 5px;
	margin-top: 52px;
}
#menu {
	margin: 0px;
}
#menu li {
	float: left;
	list-style: none;
	position: relative;
}
#menu>li {
/*padding-left: 50px;*/
	/*margin: 5px 0px 0px;*/
}
#menu li a {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
}
#menu>li>a {
	margin: 5px 0px 0px;
	padding: 12px 20px;
}
#menu li a:hover {
	background-image: url(../images/menu_hover.png);
	background-repeat: repeat;
}
#menu .submenu {
	position: absolute;
	margin-left: -40px;
	display: none;
}
#menu .submenu li, #menu .submenu a {
	float: none;
	background-color: #F60;
}
#menu .submenu a {
	padding: 8px 10px;
	width: 180px;
}
#menu li:hover .submenu {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
}