@charset "utf-8";
body {
	margin: 0px;
	text-align: center;
	color: #FFF;
}
#footer_copyright {
	background-image: url(../images/footer_bg_copyright.png);
	background-repeat: repeat;
	height: 66px;
}
#footer_info {
	background-image: url(../images/footer_bg_info.png);
	background-repeat: repeat;
	height: 124px;
}
